#home {
	margin: 50px;
}
.margin {
	margin-top: 10px;
    margin-left: 10x;
    margin-right: 10px;
}

.content {
	background-color: white;
	opacity: 0.5;
	color: black;
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

#inputBox {
	text-align:center
}

#disabled {
    opacity: 0;
}

#next {
	margin: 50px;
}

#checkout {
 margin: 50px;
}

#update {
 margin-right: 50px;
 margin-top: auto;
 margin-bottom: auto;
 margin-left: auto;
}

.loginBackgroundColor {
	background-color: #FFF9F7;
}

.inner-wrapper {
  display:table-cell;
  vertical-align:middle;
  padding:15px;
}

.indexBackground {
	/* The image used */
   	background-image: url("background.jpg");
   
   	/* Full height */
    height: 800px;
    width: 100%; 

	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.pageBackground {
	background-color: #FFF9F7;
}

h1 {
    text-align: center;
    font-family: "Arial Black", Gadget, sans-serif !important;
    color: #FF927C !important;
}

p {
	font-family: "Arial Black", Gadget, sans-serif;
}

div.center {
	text-align: center;
}

th {
	text-transform: capitalize;
	background-color: #FEEDE7;
}

.box {
	text-align: center;
	padding-bottom: 15px;
}

.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  
  border-bottom: 5px solid black;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 2px;
  padding-left: 1px;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  padding-top: 1px;
  border-top: 5px solid black;
}